.login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	font-family: "Open Sans", sans-serif;
}
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40%;
	width: 400px;
	border-radius: 2px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#join-title {
	display: inline-flex;
	font-size: 1.5em;
	font-weight: bold;
	color: #555;
	padding-bottom: 35px;
	padding-top: 35px;
}

input[type='text'],
input[type='password'] {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	padding: 4px 0;
	height: 20px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid rgba(86, 85, 114, 0.5);
	margin-bottom: 20px;
	background: none;
	border-radius: 0;
	color: #223254;
	transition: all 0.15s ease;
}
input[type='text']:focus,
input[type='password']:focus {
	outline: none;
}

.join-btn {
	height: 40px;
	background-color: #4caf50;
	border: 0;
	color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	font-size: 0.875rem;
	line-height: 40px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0 10px;
	border: none;
	border-radius: 2px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
