body {
  margin: 0;
  padding: 0px;
  overflow: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  width: 100%;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}